.btn {
  background: #c70101;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  &_header {
    padding: 9px 20px;
    font-size: 12px;
  }
  &_main {
    padding: 16px 43px;
  }
  &_catalog {
    padding: 11px 34px;
    font-size: 14px;
  }
}
